:root {
  --dark: #4E4E4E;
  --dark2: #373737;
  --blue: #00AFDB;
  --blue-dark: #009CC2;
  --gray-light: #F5F6F7;
  --gray: #C4C4C4;
  --gray-dark: #818181;
}

html, body {
  height: 100%;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  line-height: 1.4;
  font-weight: normal;
  color: var(--dark);
}

*, ::before, ::after {
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  display: block;
  max-width: 100%;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
  font-weight: normal;
}

button {
  border: none;
  background: transparent;
  cursor: pointer;
}

table {
  border-collapse: collapse;
 }

.wrapper {
  overflow: hidden;
  min-width: 1600px;
  min-height: 100%;
}

.container {
  width: 1060px;
  margin: 0 auto;
}

.btn {
  display: inline-block;
  padding: 15px 47px;
  
  background-color: var(--blue);
  transition: .2s;
  color: #fff;
  font-weight: 700;
  text-transform: uppercase;
}

.btn:hover {
  background-color: var(--blue-dark);
}

.section__title {
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.17;
  letter-spacing: 1px;
  text-transform: uppercase;

  color: #373737;
}

.hero {
  background-color: #000;
  color: #fff;
}

.hero__content {
  width: 1600px;
  min-height: 744px;
  margin: 0 auto;
  background: url('/assets/img/bg-image1.jpg') no-repeat 50% 50%;
  background-size: cover; 
}

.header {
  padding: 24px 0px;
  margin-bottom: 130px;
}

.nav__list {
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav__item {
  margin-right: 85px;
  padding-bottom: 3px;
}

.nav__item--margin--l {
  margin-right: 100px;
}

.nav__item:last-child {
  margin-right: 0;
}

.nav__link {
  opacity: 0.8;
}

.nav__item .nav__link:hover {
  opacity: .7;
  border-bottom: 1px solid #fff;
}

.nav__item .nav__link--active {
  border-bottom: 1px solid #fff;
}

.page__title {
  margin-bottom: 20px;
  font-size: 64px;
  line-height: 1.17;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 4.5px;
}

.hero__center {
  margin-bottom: 183px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.hero__desc {
  width: 470px;
  margin-bottom: 30px;

  font-size: 18px;
  text-align: center;
}

.hero__bottom {
  display: flex;
  justify-content: center;
}

.socials {
  display: flex;
}

.socials__item {
  margin-right: 30px;
}

.socials__item:last-child {
  margin-right: 0;
}

.about {
  padding-top: 120px;
  padding-bottom: 140px;
}

.about__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.about__desc {
  width: 406px;
}

.about__text {
  margin-bottom: 30px;
}

.community {
  padding-top: 120px;
  padding-bottom: 140px; 
  background-color: var(--gray-light);
}
