:root {
  --dark: #4E4E4E;
  --dark2: #373737;
  --blue: #00AFDB;
  --blue-dark: #009CC2;
  --gray-light: #F5F6F7;
  --gray: #C4C4C4;
  --gray-dark: #818181;
}

html, body {
  height: 100%;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  line-height: 1.4;
  font-weight: normal;
  color: var(--dark);
}

*, ::before, ::after {
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  display: block;
  max-width: 100%;
  max-height: 100%;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
  font-weight: normal;
}

button {
  padding: 0;
  border: none;
  background: transparent;
  cursor: pointer;
  border-radius: 0;
}

input {
  border-radius: 0;
}

table {
  border-collapse: collapse;
 }

.wrapper {
  overflow: hidden;
  width: 1600px;
  min-height: 100%;
  margin: 0 auto;
}

.container {
  width: 1060px;
  margin: 0 auto;
}

.container--wide {
  width: 1280px;
}

.btn {
  display: inline-block;
  padding: 14px 47px;
  
  background-color: var(--blue);
  transition: .2s;
  color: #fff;
  font-weight: 700;
  text-transform: uppercase;
}

.btn:hover {
  background-color: var(--blue-dark);
}

.section__title {
  margin-bottom: 24px;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  letter-spacing: 1px;
  text-transform: uppercase;

  color: var(--dark2);
}

.section__title--subscribe {
  color: #fff;
  margin-bottom: 30px;
}

.card-title {
  margin-bottom: 12px;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 2.4px;
  text-transform: uppercase;
  color: var(--dark2);
}

.hero {
  background-color: #000;
  color: #fff;
}

.hero__content {
  width: 1600px;
  min-height: 744px;
  margin: 0 auto;
  background: url('assets/img/bg-image1.jpg') no-repeat 50% 50%;
  background-size: cover; 
}

.header {
  padding: 26px 0px;
  margin-bottom: 128px;
}

.nav__list {
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav__item {
  margin-right: 86px;
  padding-bottom: 5px;
}

.nav__item--margin--l {
  margin-right: 100px;
}

.nav__item:last-child {
  margin-right: 10px;
}

.nav__link {
  opacity: 0.8;
}

.nav__item .nav__link:hover {
  opacity: .7;
  border-bottom: 1px solid #fff;
}

.nav__item .nav__link--active {
  font-weight: 500;
  opacity: 1;
  border-bottom: 1px solid #fff;
}

.page__title {
  margin-bottom: 22px;
  font-size: 64px;
  line-height: 1.17;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 4.5px;
}

.hero__center {
  margin-bottom: 183px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.hero__desc {
  width: 470px;
  margin-bottom: 29px;

  font-size: 18px;
  text-align: center;
}

.hero__bottom {
  display: flex;
  justify-content: center;
}

.socials {
  display: flex;
}

.socials__item {
  margin-right: 30px;
  display: inline-flex;
  line-height: 1;
}

.socials__item:last-child {
  margin-right: 0;
}

.socials__item:hover {
  opacity: .7;
  transition: .3s;
}

.socials__link {
  display: inline-flex;
}

.about {
  padding-top: 120px;
  padding-bottom: 140px;
}

.about__title {
  width: 390px;
}

.about__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.about__desc {
  width: 405px;
}

.about__text {
  margin-bottom: 30px;
}

.about__text-bold {
  font-weight: 500;
  color: var(--dark2);
}

.community {
  padding-top: 120px;
  padding-bottom: 140px; 
  background-color: var(--gray-light);
}

.commumity_container {
  display: flex;
  align-items: center;
}

.community__content {
  width: 298px;
  margin-right: 138px;

  display: flex;
  flex-direction: column;
  align-items: center;
  flex-shrink: 0;
}

.community__avatar {
  width: 45px;
  height: 45px;
  margin-bottom: 20px;

  border-radius: 50%;
  overflow: hidden;
}

.community__desc {
  text-align: center;
}

.community__slider {
  height: 244px;
}

.slider {
  position: relative;
}

.slider__list {
  height: 100%;
  display: flex;
}

.slider__item {
  width: 407px;
  max-height: 100%;
  margin-right: 30px;
}

.slider__controls {
  position: absolute;
  top: -42px;
  left: 542px;
}

.controls {
  display: flex;
  align-items: center;
}

.controls__btn {
  display: inline-flex;
}

.controls__btn:first-child {
  margin-right: 8px;
}

.controls__btn:hover {
  cursor: pointer;
  opacity: .5;
}

.controls__counters {
  margin-right: 10px;
  font-size: 18px;
  color: var(--dark2);
}

.tip {
  padding-top: 120px;
  padding-bottom: 140px;
}

.tip__container {
  display: flex;
  align-items: center;
}

.tip__photo {
  width: 407px;
  height: 582px;
  margin-right: 139px;
}

.tip__content {
  width: 407px;
}

.tip__text {
  margin-bottom: 30px;
}

.tip__text-bold {
  font-weight: 500;
  color: var(--dark2);
}

.subscribe {
  min-height: 524px;
  height: 1px;
  background: url('assets/img/sign-up.jpg') no-repeat 50% 50%;
  background-size: cover;
}

.subscribe__content {
  margin-bottom: 22px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.subscribe__container {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.subscribe__row {
  display: flex;
}

.subscribe__input {
  width: 340px;
  height: 46px;
  padding: 10px 24px;
  border: none;

  color: var(--dark2);
}

.subscribe__input::-webkit-input-placeholder { 
  color: var(--dark2); 
  opacity: .5;
}

.subscribe__input::-moz-placeholder  { 
  color: var(--dark2); 
  opacity: .5;
}

.subscribe__input:-ms-input-placeholder  { 
  color: var(--dark2); 
  opacity: .5;
}

.subscribe__submit {
  width: 66px;
  height: 46px;
  background-color: var(--blue);
  display: flex;
  align-items: center;
  justify-content: center;
}

.subscribe__submit:hover {
  cursor: pointer;
  background-color: var(--blue-dark);
  transition: .3s;
}

.download {
  min-height: 464px;
  height: 1px;
  padding-bottom: 180px;
  padding-top: 100px;
  background-color: var( --gray-light);
}

.download__container {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
}

.download__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.download__text {
  margin-bottom: 30px;
  width: 483px;
  text-align: center;
}

.download__btns {
  display: flex;
}

.download__btn {
  display: inline-flex;
  margin-right: 30px;
  cursor: pointer;
  min-height: 46px;
}

.download__btn:last-child {
  margin-right: 0;
}

.download__btn-text {
  padding: 13px 18px;
  min-width: 127px;
  display: flex;
  align-items: center;
  justify-content: center;

  text-transform: uppercase;
  color: #fff;
  font-weight: 700;
  background-color: var(--blue);
  transition: .3s;
}

.download__btn:hover .download__btn-text {
  background-color: var(--blue-dark);
}

.download__btn-icon {
  width: 59px;
  height: 46px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--blue-dark);
}

.footer {
  padding-top: 60px;
  padding-bottom: 80px;

  background-color: #000;
  color: #fff;
}

.footer__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footer__links {
  width: 500px;
  display: flex;
}

.footer__link-item {
  margin-right: 40px;
  position: relative;
}

.footer__link-item:last-child {
  margin-right: 0;
}

.footer__link-item::before {
  content: "";
  display: block;
  width: 1px;
  height: 8px;
  background-color: var(--dark);
  position: absolute;
  left: -20px;
  top: 5px;
}

.footer__link-item:hover {
  opacity: .7;
}

.footer__link-item:first-child::before {
  display: none;
}

.footer__link {
  opacity: .98;
}

.footer__copy {
  width: 500px;
  text-align: right;
  color: var(--gray-dark);
}